html, body {
    background-color: rgb(165, 213, 229);
    color: rgb(43, 43, 43);
    font-family: Montserrat;
    padding: 0;
}

.nav-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(to top right, rgb(119, 230, 255), rgb(88, 178, 251));
    width: 100vw;
    height: 60px;
    padding-left: 20px;
}

.nav-bar h2 {
    width: 200px;
    margin-top: 15px;
}

.nav-bar div {
    position: absolute;
    display: inline-block;
    background-color: white;
    /* height: 30px;
    width: 120px; */
    text-align: center;
    border-radius: 15px;
    padding: 5px 20px;
}

.jump-to-survivors {
    top: 15px;
    right: 200px;
}

.jump-to-items {
    top: 15px;
    right: 80px;
}

.top-photo {
    width: 100vw;
    height: auto;
    margin: 50px  0px 0px 0px
}

.center-all {
    display: flex;
    justify-content: center;
}

.main-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 2000px;
    border: 2px solid black;
}

.survivors {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid black;
}

.survivor-panel {
    display: grid;
    grid-template-columns: 150px 1fr;
    padding: 15px;
    border: 1px solid black;
}

.survivor-img {
    border-right: 1px solid black;
}

.survivor-info {
    display: grid;
    grid-template-rows: 80px;
    padding-left: 15px;
}
